node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/.idea/
android/local.properties
android/app/panditacash-release.keystore
android/gradle.properties

# Capacitor / iOS
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
